@model Lab2_1_AspNetMVC_DailyBlogger.Models.BlogPost
@{
    Layout = "_Layout";
}

<h2>@Model.blogTitle</h2>

<p>@Model.content</p>

<p>

    <a asp-action="Edit" asp-route-id="@Model.id">Edit this Post</a>

</p>

<p>

    <a asp-action="Delete" asp-route-id="@Model.id">Delete this Post</a>

</p>


<p>

    <a asp-action="List">Back to List</a>

</p>
