@model Lab2_1_AspNetMVC_DailyBlogger.Models.BlogPost

@{
    ViewData["Title"] = "Edit Post";
    Layout = "_Layout";
}

<h2>Edit</h2>

<h4>BlogPost</h4>
<hr />
<div class="row">

    <div class="col-md-4">

        <form asp-action="Update">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="blogTitle" class="control-label"></label>
                <input asp-for="blogTitle" class="form-control" />
                <span asp-validation-for="blogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>
                @Html.TextAreaFor(m => m.content, 10, 10, new { @class = "form-control"})
                @*<input asp-for="content" class="form-control" />*@
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blogDate" class="control-label"></label>
                <input asp-for="blogDate" class="form-control" />
                <span asp-validation-for="blogDate" class="text-danger"></span>
            </div>
            @Html.HiddenFor(m => m.id) 
            <div class="form-group">
                <input type="submit" value="Update Post" class="btn btn-default" />
            </div>
        </form>

    </div>

</div>

<div>
    <a asp-action="List">Back to List</a>
    @*<a asp-action="Index">Back to List</a>*@ @*Error "Index" in Courseware. Corrected link above with List...added by th 08042020*@
</div>

@section Scripts {

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}